*{
    font-family: 'Open Sans', sans-serif;
    }

body{
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 80%;
}

p{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-weight: bold;
    text-align: center;
    font-family:'Gloock', serif;
}


