*{
    font-family: 'Open Sans', sans-serif;
    }

body{
    background-color: black;
    color: white;
    margin: 0 auto;
    width: 80%;
}

p, .didascalia{
    text-align: left;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-weight: bold;
    text-align: center;
    font-family:'Gloock', serif;
}

.immagine img{
    margin: 20px 0px;
    width: 100%;
}

p{
    font-size: 21px;
}

.didascalia{
    font-size: 16px;
}
